@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@400;500;700 & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    margin-top: 47px;
    margin-left: 42px;
    margin-bottom: 177px;

}

.logo-image {

    margin-left: 125px;
    display: inline-block;
    height: 500px;
    width: 568px;

}

.link-menu {

    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.875px;
    text-align: center;
    color: #17233D;
    margin-right: 32px;
    cursor: pointer;
    font-style: normal;
    text-decoration: none;

}

.botao-sign {
    border: 1px solid #4CB538;
    background: #6FBF44;
    border-radius: 6px;
    cursor: pointer;
    width: 124px;
    height: 51px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    border-radius: 6px;
    line-height: 29px;
    color: #fff;

}



section {

    display: inline-block;
    margin-left: 84.82px;

}

h1 {

    font-size: 62px;
    width: 582px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.596px;
    color: #161A49;

}

p {

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    margin-top: 47px;
    margin-bottom: 55px;
    width: 493px;

}

.link-learn {

    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #6FBF44;
    cursor: pointer;

}

@media screen and (max-width: 900px) {


    .link-menu {
        display: none;
    }

    main {
        display: flex;
        flex-direction: column-reverse;

    }

    section {
        margin: 0 auto;
        text-align: center;
    }

    h1 {
        width: 278px;
        font-size: 30px;
        line-height: 30px;
        margin-top: 76px;

    }

    header {
        margin: 0;
    }

    .botao-sign {
        width: 91px;
        height: 31px;
        font-size: 12px;
        margin: 17px 15px 0 284px;
        font-weight: 400;

    }

    .logo-image {
        width: 312px;
        height: 288px;
        margin: 0 auto;
        margin-top: 74 px;

    }

    p {
        width: 304px;
        margin: 20px 0;
    }

}